{% extends 'base.html' %} {% from 'components/card.html' import card with
context %} {% block content %}




<div class="pinterest-layout {% if is_mobile %}pinterest-layout--mobile{% endif %}">
    {% for image in images %}
        {% set gap_height = width | calculate_gap_height(image.widthOrig, image.heightOrig) %}
        <div id="{{ image.id }}" class="pinterest-layout__block" style="grid-row-end: span {{ gap_height }};">
            {{ card(image.id, '/pinimg/236x/' + image.id|string + '.jpg', 'Image to Pipisters', image.urlOriginal) }}
        </div>
    {% endfor %}

    <form action="/back" method="get">
        <button type="submit">Назад</button>
    </form>
</div>


{% endblock %}